.StartSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.StartSection-Info {
  width: 49%;
}

.StartSection-Title {
  font-size: 60px;
  margin-bottom: 20px;
}

.StartSection-Img {
  width: 40%;
}

@media (max-width: 1200px) {
  .StartSection {
    flex-direction: column;
    align-items: center;
  }

  .StartSection-Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .StartSection-Img {
    width: 80%;
  }

  .StartSection-Title,
  .StartSection-Descr {
    text-align: center;
  }

  .StartSection-Title {
    font-size: 30px;
    margin-bottom: 40px;
    line-height: 100px;
  }

  .StartSection-Descr {
    font-size: 20px;
    width: 80%;
    line-height: 50px;
    margin-bottom: 60px;
  }
}