.StartSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.StartSection-Info {
  width: 49%;
}

.StartSection-Title {
  font-size: 60px;
  margin-bottom: 20px;
}

.StartSection-Description {
  margin-bottom: 46px;
}

.StartSection-Img {
  width: 40%;
}