.MapSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.MapSection-Title {
  width: 30%;
  text-align: center;
}

.MapSection-Description {
  width: 40%;
  text-align: center;
  margin-bottom: 100px;
}

.MapSection-MapImg {
  width: 90%;
}

@media (max-width: 1200px) {
  .MapSection-Title,
  .MapSection-Description {
    width: 80%;
  }
}

@media (max-width: 490px) {
  .MapSection {
    margin-bottom: 20px;
  }
  
  .MapSection-Title {
    width: 100%;
  }
}