.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
}

.Header-Logo {
  width: 140px;
}

.Header-Nav {
  display: center;
  align-items: center;

  button {
    color: #F53838;
  }
}

.Header-NavLink {
  &:not(:last-child) {
    margin-right: 36px;
  }
}

.Header-Sign {
  display: flex;
  align-items: center;
}

.Header-SignIn {
  margin-right: 20px;
  font-size: 16px;
}