* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik';
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.AppStyles {
  background-color: orange;
}