@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik Bold';
  src: url('../assets/fonts/Rubik-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik';
  font-size: 16px;
}

h2 {
  width: 60%;
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 45px;
}

h4 {
  margin-bottom: 40px;
}

a {
  font-size: 14px;
  color: #4F5665;
  text-decoration: none;
}

button {
  font-size: 14px;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  color: #4F5665;
  line-height: 30px;
  margin: 0;
}

.Description {
  color: #4F5665;
  line-height: 30px;
  margin-bottom: 46px;
}

.Card {
  width: 100%;
  padding: 68px 0;
  box-shadow: 0 10px 20px #f1f1f1;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  button {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .Card {
    padding: 30px;
  }
}