.Features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.Features-Image, .Features-Info {
  width: 45%
}

.Features-Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Features-Description {
  margin-bottom: 30px;
}

.Features-Item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.Features-ItemTitle {
  margin-left: 10px;
}