.Footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.Footer-LaslesDescr {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.Footer-ContactButtons {
  display: flex;
  margin-bottom: 40px;

  li {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.Footer-ContactButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  transition: 0.4s;

  &:hover {
    box-shadow: 0 4px 10px #b9b9b9;
  }
}

.Footer-ContactImg {
  width: 60px;
  height: 64px;
}

.Footer-Copyrights {
  font-size: 14px;
  color: #AFB5C0;
}

.Footer-LinksSections {
  display: flex;
}

.Footer-LinksSection {
  &:not(:last-child) {
    margin-right: 60px;
  }

  &:first-child {
    margin-right: 120px;
  }
}

.Footer-Link {
  margin-bottom: 20px;
}