.Button {
  padding: 16px 72px;
  color: white;
  background-color: #F53838;
  border-radius: 10px;
  font-weight: 700;
  transition: 0.4s;

  &:hover {
    box-shadow: 0 10px 20px #fdcccc;
  }
}

.Button-Outlined {
  color: #F53855;
  font-weight: 700;
  padding: 12px 40px;
  background-color: inherit;
  border: 2px solid #F53855;
  border-radius: 23px;
  
  &:hover {
    color: white;
    background-color: #F53855;
    box-shadow: 0 10px 20px #fdcccc;
  }
}