.Button {
  padding: 16px 72px;
  color: white;
  background-color: #F53838;
  border-radius: 10px;
  font-weight: 700;
  transition: 0.4s;

  &:hover {
    box-shadow: 0 10px 20px #fdcccc;
  }
}

.Button-Outlined {
  color: #F53838;
  font-weight: 700;
  padding: 12px 40px;
  background-color: inherit;
  border: 2px solid #F53838;
  border-radius: 23px;

  &:hover {
    color: white;
    background-color: #F53838;
    border: 2px solid #F53838;
    box-shadow: 0 10px 20px #fdcccc;
  }
}

@media (max-width: 1200px) {
  .Button {
    padding: 10px 66px;
    font-size: 16px;
  }
  
  .Button-Outlined {
    padding: 8px 30px;
    font-size: 16px;
  }
}