.CommonInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.CommonInfo-Info {
  position: relative;
  display: flex;
  justify-content: center;
  width: 33%;

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 80px;
      background-color: #EEEFF2;
    }
  }
}

.CommonInfo-Icon {
  width: 50px;
  margin-right: 20px;
}

.CommonInfo-RestInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CommonInfo-Title {
  color: #F53838;
  margin-top: 8px;
}

@media (max-width: 1200px) {
  .CommonInfo-Icon {
    width: 60px;
    margin-right: 40px;
  }

  .CommonInfo-Title {
    font-size: 20px;
  }

  .CommonInfo-Info {
    justify-content: center;
    width: 33%;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        height: 80px;
        background-color: #EEEFF2;
      }
    }
  }
}

@media (max-width: 768px) {
  .CommonInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CommonInfo-Info {
    justify-content: flex-start;
    width: 100%;
    
    &:not(:last-child) {
      margin-bottom: 40px;
      
      &::after {
        content: "";
        top: unset;
        bottom: -20px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
      }
    }
  }
}